body {
    font-family: 'Lato', serif;
    font-size: 48px;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
}
#natsume {
    margin: 1.5em auto 0 auto;
    height: 400px;
}
#natsume svg {
    margin-left: 10%;
}

#twitter {
    height: 500px;
    font-size: 2em;
    position: relative;
    display: block;
}
#twitter-bird {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../images/twitter-birds.png) repeat 0 0;
}
#twitter-bird2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: url(../images/twitter-birds2.png) repeat 0 0;
}
#twitter-id {
    top: 0;
    left: 0;
    position: absolute;
    color: #1FC2F7;
}

#hatenablog {
    display: block;
    height: 2000px;
    position: relative;
}

a:link#hatenablog {    color: rgb(255,255,55); }
a:visited#hatenablog { color: rgb(255,255,55); }
a:hover#hatenablog {   color: rgb(255,255,55); }
a:active#hatenablog {  color: rgb(255,255,55); }

#hatenablog .hatena {
    position: absolute;
}

#facebook {
    display: block;
    background-color: rgb(255,255,255);
    position: relative;
}

#facebook div {
    position: fixed;
    bottom: 10px;
    color: #1CC4F8;
    font-size: 2em;
}

#facebook hr {
    position: fixed;
    bottom: 10px;
    border-color: #1CC4F8;
    height: 2px;
    width: 100%;
    bottom: -35px;
    border-style: solid;
}
