body {
    -skrollr-animation-name: body;
}
@-skrollr-keyframes body {
    500 {
        background-color: rgb(255, 255, 255);
}
800 {
    background-color: rgb(0, 0, 0);
}
2500 {
    background-color: rgb(0, 0, 0);
}
2800 {
    background-color: rgb(255, 255, 255);
}
}

#github {
    -skrollr-animation-name: github;
}
@-skrollr-keyframes github {
    0 {
        right: 0px;
}
100 {
    right: 0px;
}
300 {
    right: -400px;
}
}

#natsume {
    -skrollr-animation-name: natsume;
}
@-skrollr-keyframes natsume {
    0 {
        opacity: 1;
        top: 100px;
}
200 {
    opacity: 0;
    top: 0%;
}
}

#twitter {
    -skrollr-animation-name: twitter;
}
@-skrollr-keyframes twitter {
    0 {
        top: 100%;
}
200 {
    background-color: rgb(255, 255, 255);
    top: 0%;
}
600 {
    background-color: rgb(255, 135, 0);
    top: 0%;
    opacity: 1;
}
800 {
    background-color: rgb(0, 0, 0);
}
900 {
    opacity: 0;
}
1000 {
    top: -100%;
}
}

#twitter-bird {
    -skrollr-animation-name: twitter-bird;
}
@-skrollr-keyframes twitter-bird {
    200 {
        background-position: 0px 0px;
}
1000 {
    background-position: 0px -80px;
}
}

#twitter-bird2 {
    -skrollr-animation-name: twitter-bird2;
}
@-skrollr-keyframes twitter-bird2 {
    200 {
        background-position: 0px 0px;
}
1000 {
    background-position: 0px -200px;
}
}

#twitter-id {
    -skrollr-animation-name: twitter-id;
}
@-skrollr-keyframes twitter-id {
    100 {
        left: 3000px;
}
200 {
    left: 0px;
    top: 0%;
}
300 {
    color: rgb(0, 0, 0);
}
500 {
    color: rgb(255, 255, 255);
}
700 {
    color: rgb(255, 255, 55);
}
800 {
    top: 0%;
}
1000 {
    top: -100%;
}
}

#hatenablog {
    -skrollr-animation-name: hatenablog;
}
@-skrollr-keyframes hatenablog {
    800 {
        top: 100%;
}
900 {
    top: 0px;
}
2700 {
    opacity: 1;
    top: 0%;
}
2800 {
    opacity: 0;
    top: 0%;
}
}

#hatenablog .hatena-h {
    -skrollr-animation-name: hatena-h;
}
@-skrollr-keyframes hatena-h {
    1100 {
        bottom: 100%;
        left: 14%;
}
2400 {
    bottom: 21px;
}
}

#hatenablog .hatena-a {
    -skrollr-animation-name: hatena-a;
}
@-skrollr-keyframes hatena-a {
    1000 {
        bottom: 100%;
        left: 22%;
}
2450 {
    bottom: 20px;
}
}

#hatenablog .hatena-t {
    -skrollr-animation-name: hatena-t;
}
@-skrollr-keyframes hatena-t {
    1500 {
        bottom: 100%;
        left: 30%;
}
2500 {
    bottom: 21px;
}
}

#hatenablog .hatena-e {
    -skrollr-animation-name: hatena-e;
}
@-skrollr-keyframes hatena-e {
    1200 {
        bottom: 100%;
        left: 38%;
}
2100 {
    bottom: 20px;
}
}

#hatenablog .hatena-n {
    -skrollr-animation-name: hatena-n;
}
@-skrollr-keyframes hatena-n {
    1205 {
        bottom: 100%;
        left: 46%;
}
2300 {
    bottom: 20px;
}
}

#hatenablog .hatena-a2 {
    -skrollr-animation-name: hatena-a2;
}
@-skrollr-keyframes hatena-a2 {
    1050 {
        bottom: 100%;
        left: 54%;
}
2400 {
    bottom: 21px;
}
}

#hatenablog .hatena-b {
    -skrollr-animation-name: hatena-b;
}
@-skrollr-keyframes hatena-b {
    1700 {
        bottom: 100%;
        left: 62%;
}
2450 {
    bottom: 20px;
}
}

#hatenablog .hatena-l {
    -skrollr-animation-name: hatena-l;
}
@-skrollr-keyframes hatena-l {
    950 {
        bottom: 100%;
        left: 70%;
}
2400 {
    bottom: 20px;
}
}

#hatenablog .hatena-o {
    -skrollr-animation-name: hatena-o;
}
@-skrollr-keyframes hatena-o {
    1350 {
        bottom: 100%;
        left: 78%;
}
2300 {
    bottom: 21px;
}
}

#hatenablog .hatena-g {
    -skrollr-animation-name: hatena-g;
}
@-skrollr-keyframes hatena-g {
    1000 {
        bottom: 110%;
        left: 86%;
}
2400 {
    bottom: 20px;
}
}

#facebook {
    -skrollr-animation-name: facebook;
}
@-skrollr-keyframes facebook {
    3000 {
        top: 100%;
}
3100 {
    top: 0%;
}
}

#facebook .facebook {
    -skrollr-animation-name: facebook-btn;
}

@-skrollr-keyframes facebook-btn {
    2850 {
        opacity: 0;
        right: 10%;
}
3100 {
    opacity: 1;
    right: 5%;
}
}

#facebook .spark-horizon {
    -skrollr-animation-name: spark-horizon;
}
@-skrollr-keyframes spark-horizon {
    2800 {
        opacity: 0;
}
2805 {
    opacity: 1;
    right: -100px;
}
3000 {
    right: 1200px;
    opacity: 1;
}
3100 {
    opacity: 0;
}
}

.night-view {
    -skrollr-animation-name: night-view;
}
@-skrollr-keyframes night-view {
    0 {
        background-color: rgb(0, 0, 0);
}
1000 {
    background-color: rgb(255, 255, 255);
}
2500 {
    background-color: rgb(255, 255, 255);
}
2800 {
    background-color: rgb(0, 0, 0);
}
}

.horizon {
    -skrollr-animation-name: horizon;
}
@-skrollr-keyframes horizon {
    0 {
        background-color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
}
1000 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
2500 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
2800 {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
}

#twitter-official {
    -skrollr-animation-name: twitter-official;
}
@-skrollr-keyframes twitter-official {
    2800 {
        opacity: 0;
}
3000 {
    opacity: 1;
}
}

#fb-root {
    -skrollr-animation-name: fb-root;
}
@-skrollr-keyframes fb-root {
    2800 {
        opacity: 0;
}
3000 {
    opacity: 1;
}
}
